.Product{
    display: flex;
    background-color: #ffe881 ;
    border-radius: 30px;

}


.Product img{
    width: 200px;
    /* border-radius: 30px; */
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px
}

.Product img:hover{
    cursor: pointer;
}

.Product #product-body{
    padding: 15px;
    width:170px;
}

.Product .form-control{
    width:50%;
}

.Product input{
    width:40%;
}

.Product #select-qty{
    display:flex;

    
}

.Product Button{
    margin: 0 10px;
}