.BoxAlgorithm{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.BoxAlgorithm h4{
    width: 600px;
    margin:auto;
}
.box-display{
    padding: 10px;
    display: flex;
    align-items: baseline;
    text-align: center;
}

.option{
    width: 600px;
    margin: 15px auto;
    cursor: pointer;
}

.option:hover{
    opacity: 0.7;
}

.box{
    margin: 0 10px
}

p{
    margin: 0;
}
