.BoxingPage{
    margin: 5% auto;
}

h1{
    text-align: center;
    margin: 20px auto;
}

#form{
    width:400px;
    margin:10% auto;
}

#form div{
    display:flex;
    flex-direction: column;
}

label{
    margin:5px 0
}

button{
    margin:15px 0
}

#login-route{
    margin:0 auto;
    width:400px;
    /* display:flex; */
}

a{
 text-decoration: none; 
}

#display-cars, #display-box{
    width:700px;
    margin: 3% auto;
    text-align: center;
}

#display-cars img, #display-box img{
    margin: 0 10px
}

#box-algorithm{
    width:400px;
    margin:10% auto;

}