/* .Header .navbar-brand a{
    color: black;
    text-decoration: none;
} */

.Header{
    background-color: #3C9A5C;
    color: #F5F9F6;
}

.Header .container{
    max-width: 3000px;
    padding: 0 50px;
}

.Header a{
    color: #F5F9F6;
    text-decoration: none;
}

.Header .navbar-collapse{
    justify-content: end;
}

.navbar-toggler{
    margin: 0
}

a{
    margin:0 10px;
}

a:hover{
    text-decoration: underline;
}