.HomePage{
    padding: 0 3%;
}

/* #products-display{
    flex-grow: 3;
} */

#products-display h1{
    text-align: center;
    
}

#products{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    /* max-width:50%; */
    margin: auto;
}



#register{
    width:100px;
}

#register-container{
    text-align: end;
    /* background-color: #ffe881;
    padding: 10px;
    border-radius: 10px; */
}

#register:hover{
    cursor: pointer;
    transform:translateY(-10px)
}

.offcanvas-header{
    background-color: #ffe881;
}

.offcanvas-body{
    background-color: #ffe881;
}

/* #products-cart{
    background-color: greenyellow;
} */