
.LandingPage{
    text-align: center;
}

.LandingPage h1{
    font-size: 100px;
}

.LandingPage .title{
    margin: 5%
}




.LandingPage .card-display{
    display:flex;
    justify-content: center;
}

.LandingPage .card-display > div{
    margin: 10px;
}

.LandingPage .card-display img{
    margin: 0 15px;
}

.LandingPage p{
    margin:10px
}

.LandingPage #login-btn{
    margin: 1% 0 4% 0;
}
.LandingPage a{
    /* color:black; */
    text-decoration: none;
}

/* #login-btn:hover{
    cursor: pointer;
    transform: translateY(-10px);
    text-decoration: none;
} */

button{
    background-color: #3C9A5C;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    /* box-shadow: 0px 0px 2px 2px #3C9A5C; */
    
}

button a{
    color: #F5F9F6;
    margin: 0;
}