.Product{
    display: flex;
    /* border: 1px dashed black; */
    margin: 2%;

}


.Product img{
    width: 150px;
    height: 150px;
    margin: 5px;
    border-radius: 50%;
    /* border-top-left-radius: 30px;
    border-bottom-left-radius: 30px */
}

.Product img:hover{
    cursor: pointer;
}

.Product #product-body{
    padding: 15px;
    width:170px;
}

.Product .form-control{
    width:50%;
}

.Product input{
    width:40%;
}

.Product #select-qty{
    display:flex;
    justify-content: space-between;
}

.Product Button{
    margin: 0;
}

.Product p{
    margin: 5px 0;
}

