.ProductPage{
    padding: 0 3%;
}

/* #products-display{
    flex-grow: 3;
} */

.ProductPage h1{
    margin: 3% 0;
}

#products-display h2{
    text-align: center; 
}

#products{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width:80%;
    margin: auto;
}



#register{
    width:100px;
}

#register-container{
    position: absolute;
    right:3%;
    text-align: center;
    background-color: #3C9A5C;
    padding: 15px 25px;
    border-radius: 50%;
    color: #F5F9F6;
}



#register-container:hover{
    cursor: pointer;
    transform:translateY(-10px)
}

.offcanvas{
    width:450px !important;
}  

.offcanvas-header{
    background-color: #3C9A5C;
    color: #F5F9F6;
}

.offcanvas-body{
    background-color: #3C9A5C;

}

/* #products-cart{
    background-color: greenyellow;
} */